
<div class="row text-right">
    <div class="col-xs-11 text-left col-xs-offset-1">
        Average Value
    </div>
</div>
<div class="row">
    <div class="col-xs-2 col-xs-offset-1 chance-pie">
    </div>
    <div class="col-xs-8 return-bar">
    </div>
</div>
<div class="row return-forcast">
</div>