<div class="col-xs-12">
    <div class="row">
        <div class="left col-xs-7">
        </div>
        <div class="right col-xs-5">
        </div>
    </div>
</div>
<div class="col-xs-12">
    <div class="row navigate">
    </div>
</div>