<div class="col-xs-7">
    <p class="text-right">
        Enter your name to see how you rank on the leaderboard.
    </p>
</div>
<div class="col-xs-5">
    <input
        id="scenario-name"
        value="{{name}}"
        placeholder="Name" />
    <button id="run-scenario" class="btn btn-info">
        Submit
    </button>
</div>
