<div class="row">
    <div class="col-xs-8">
        <h3>Investment Portfolio Simulation</h3>
        <p>
            Adjust your portfolio to achieve an average return of at least $120 while minimizing your chance of losing $
        </p>
    </div>
</div>
<div class="row">
    <h4>Create Your Portfolio</h4>
    <div class="portfolio-items">
        {{#each portfolioItems}}
            {{portfolioItem this}}
        {{/each}}
    </div>
</div>
<div class="row charts">
</div>
<div class="row inputs">
</div>
<div class="bar-slider">
    {{#each toggleInputs}}
        <div class="draggable" data-variable={{variable}} data-value={{value}}>
        </div>
    {{/each}}
</div>