<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 title-group">
            <h3>
                Investment Portfolio Simulation | Leaderboard
            </h3>
            <hr>
            <h4>
                {{name}}
            </h4>
        </div>
    </div>

    <div class="row charts">
        <div class="row text-right">
            <div class="col-xs-12">
                <div class="col-xs-4 col-xs-offset-1 text-left average-value">
                    Average Value
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2 col-xs-offset-1 chance-pie">
            </div>
            <div class="col-xs-8 return-bar">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 return-forcast">
            </div>
        </div>
    </div>
</div>
