<div class="row">
    <h3>
        Investment Portfolio Simulation | Leaderboard
    </h3>
    <div class="text-right">
        {{name}}
    </div>
</div>


<div class="row return-forcast">
</div>
<div class="row text-right">
    <div class="col-xs-11 text-right">
        Average Value
    </div>
</div>
<div class="row">
    <div class="col-xs-8 return-bar">
    </div>
    <div class="col-xs-3 chance-pie">
    </div>
</div>