<div class="container">
  <div class="side">
      <h3> What we used </h3>
  </div>
  <div class="main">
      <ul>
          {{#each this}}
              {{> 'used-item' this}}
          {{/each}}
      </ul>
  </div>
</div>