<div class="row">
    <div class="col-xs-6 name">
        {{name}}
    </div>
    <div class="col-xs-3 chance-of-loss">
        {{chance}}
    </div>
    <div class="col-xs-3 average-after-five">
        {{value}}
    </div>
</div>