<div class="row {{#if selected}}selected{{/if}}" data-cid="{{cid}}">
    <div class="col-xs-6 name">
        {{name}}
    </div>
    <div class="col-xs-3 chance-of-loss">
        {{formatPercent failure_percent}}
    </div>
    <div class="col-xs-3 average-after-five">
        {{formatCurrency average_returns}}
    </div>
</div>