
html, body {
    height: 100%;
}

a {
    text-decoration: none;
}

body {
    font-size: 14px;
    letter-spacing: 0.01em;
    font-family: 'Fira Sans', sans-serif;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.btn {
    padding-bottom: 1px;
    padding-top: 1px;
}

.btn-info {
    color: black;
    background-color: rgb(244, 248, 249);
    border-bottom: outset;
    padding-bottom: 3px;
}

#content {
    background-color: @right-background;
}
