
html, body {
    height: 100%;
    -webkit-font-smoothing: antialiased !important;
}

a {
    text-decoration: none;
}

body {
    font-size: 14px;
    letter-spacing: 0.01em;
    font-family: 'Fira Sans', sans-serif;
}

#content{
    transition: height 0.5s;

    &.loading {
        height: 100%;
    }
}

.number, .donut-text {
    font-family: "Courier New", monospace;
}

.donut-text {
    stroke-width: 0.5px;
}


.btn {
    padding-bottom: 1px;
    padding-top: 1px;
}

.btn-info {
    color: black;
    background-color: rgb(244, 248, 249);
    border-bottom: outset;
    padding-bottom: 3px;
}

#content {
    background-color: @right-background;
}

.leaders-table .row {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -15px;
    margin-right: -15px;
}

.selected {
    background-color: @left-background;
    color: @body-bg;
}

.header-title {
    margin-left: -15px;
}

#loading-backdrop {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: @what-we-used-background;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s;

    &.show1 {
        display: block;
    }
    &.show2 {
        opacity: 1;
    }
}

#loading-indicator {
    display: none;
    position: fixed;
    top: 30%;
    width: 70%;
    margin-left: 15%;
    background: transparent;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    color: @body-bg;
    z-index: 2000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-group {
    min-height: 110px;

    h4 {
        bottom: 8px;
        position: absolute;
    }
}
