.chance-pie {
    margin-right: -30px;
    padding-left: 40px;
    rect.average-box {
        fill: @highlight-color;
        stroke: @highlight-color;
    }
    .average-number {
        stroke: white;
        font-size: 16px;
        font-weight: 100;
    }

    svg {
        margin-left: -30px;
    }

    .arc.chance {
        stroke: red;
        fill: red;
    }
    path.arc.base {
        stroke: rgb(96, 96, 108);
        fill: rgb(96, 96, 108);
    }

    text.donut-text {
        stroke: white;
    }

    text.chance-text {
        stroke: red;
    }

}