@what-we-used-background:    rgb(60, 141, 197); //rgb(53, 118, 162 );

@left-background:            rgb(73, 73, 82);
@right-background:           rgb(245, 248, 250);

@highlight-color:            rgb(224, 167, 83);

@graph-color:                rgb(123, 191, 234); //rgb(111, 170, 205);
@graph-red:                  rgb(229, 64, 40);

@us-color:                   rgb(213, 15, 97);
@emerging-color:             rgb(157, 200, 228);
@bonds-color:                rgb(218, 100, 33);
@real-estate-color:          rgb(179, 74, 218);
@cash-color:                 rgb(136, 174, 68);
