.historical-chart-holder {
    td {
        width: 100px;
        text-align: center;

        margin: 0;
        // white-space: nowrap;
        border: none;
        max-width: 100px;
    }

    .history-bar {
        // width:80%;
        margin-left: -10px;
        margin-bottom: -20px;
        .tick {
            stroke: none !important;
            opacity: 0 !important;
        }
        path {
            stroke: none;
        }
    }
}