.left {
    background-color: @left-background;
    color: white;

    .results-name {
        font-size:  18px;
        margin-top: 30.5px;
        margin-bottom: 32px;
    }

    .average-value {
        color: @highlight-color;
    }
}