.toggle-input {
    display: inline-block;
    width: 19%;
    margin: 0;
    text-align: center;
    font-size: 16px;
    p {
        max-width: 60%;
        margin-left: 20%;
        font-size:  12px;
    }
    input {
        background-color: transparent;
        width: 70px;
        padding: 5px;
        border: none;
        border: 1px solid @body-bg;
    }

    input[data-variable="us_stocks"]{
        border-top: 3px solid @us-color;
    }
    input[data-variable="emerging_markets"] {
        border-top: 3px solid @emerging-color;
    }
    input[data-variable="global_bonds"] {
        border-top: 3px solid @bonds-color;
    }
    input[data-variable="global_real_estate"] {
        border-top: 3px solid @real-estate-color;
    }
    input[data-variable="cash_equivalents"] {
        border-top: 3px solid @cash-color;
    }
}

.draggable[data-variable="us_stocks"]{
    background-color: @us-color;
}
.draggable[data-variable="emerging_markets"] {
    background-color: @emerging-color;
}
.draggable[data-variable="global_bonds"] {
    background-color: @bonds-color;
}
.draggable[data-variable="global_real_estate"] {
    background-color: @real-estate-color;
}
.draggable[data-variable="cash_equivalents"] {
    background-color: @cash-color;
}

.create {
    margin-top:20px;
    margin-bottom:20px;
}