
.return-bar {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    .contour-chart {
        .axis {
            stroke: none;
        }
        .axis.y .tick text{
            fill: none;
        }
        rect.column {
            fill: @graph-color;
            stroke: @graph-color;
        }
    }
}